@media(max-width:900px){
    .containerProjects{ padding: 0 20px; }
    .descriptionProject{ width: 80%; }
}

@media(max-width:800px){
    .imgMe{ width: 250px; height: 300px; background-color: #FAEDBC;}
    .contentAboutMe{ width: 250px }
}

@media(max-width:700px){
    .imgMe{ width: 250px; height: 300px; background-color: #FAEDBC;}
    .contentAboutMe{ width: 250px; }

    .descriptionProject{
      flex-direction: column;  
       text-align: center;
       gap: 0;
    } .textDescriptionProject p{ margin-bottom: 20px; }
}
@media(max-width:550px){
    .sectionSkills{ column-gap: 50px; }
    
    .sectionAboutMe{ display: block; margin: auto; width: fit-content; text-align: center; }
    .imgMe{ width: 200px; height: 200px; margin: auto; margin-bottom: 30px;}
    #buttonProjects{ margin: 15px auto;}

    .project h3{ font-size: 15px }
}