//------------------------------------------------
//---------------- ARTICLE CARD ------------------
//------------------------------------------------
.ArticleCard{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    align-items: end;
    justify-items: stretch;
    gap: .5em;
    padding: .5em .5em 2em .5em;
    position: relative;

    &__imageContainer{ width: 100%; height: 100%; }
    &__image{ width: 100%; height: 100%; object-fit: cover }

    &__date{ color: #7c7c7ccc; font-weight: 500 }
    &__date > svg{ margin-right: .4em; vertical-align: text-top; }

    &__title{
        font-size: 2em; 
        color: rgb(185, 185, 185);
        margin-top: .2em;
        overflow: hidden;
        &--long{ font-size: 1.6em; max-height: 2em; }
    }

    &__extraInfo{ display: flex; justify-content: space-between; padding: 1em .5em 1em 0 }
    &__category{
        background-color: #FAEDBC;
        font-size: .8em;
        padding: .3em;
        color: rgb(61, 61, 61);
        font-weight: 600;
    }
    &__moreInfo{ text-decoration: underline; color: rgb(199, 199, 199) }

    &::after{
        content: '';
        position: absolute;
        bottom: .7em;
        left: 0;
        width: 100%;
        height: .5px;
        background-color: #646464;
        border-radius: 50%;
    }
}

.MiniArticleCard{
    display: flex;
    align-items: flex-end;
    margin-bottom: 1em;
    padding: .5em;
    border-bottom: .05em solid rgb(92, 92, 92);
    gap: .5em;
    transform-origin: left;
    overflow: hidden;
    transition: transform linear .3s;

    &:hover{
        border: none;
        box-shadow: -1px 5px 6px rgba(0,0,0, .8);
        transform: scale(1.1);
    }
    &__image{ width: 7em }
    &__div{  width: 70% }
    &__span{ color: $secundary-color-text }
    &__h3{
        margin-top: .5em;
        overflow: hidden;
        color: $primary-color-text;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    //-------------- @MEDIA
    @media screen and (max-width:1050px) {
        &__div{ width: 60% }
    }
    
    @media screen and (max-width:950px) {
        &{ transform-origin: center }
        &__div{  width: 90% }
    }
}

.ArticlePreload{ 
    display: grid;
    gap: .5em;
    grid-template-columns: 30% calc(70% - 1em);
    height: 5em;
    max-width: 100%;
    margin-top: 1.5em;
    animation-name: preload;
    animation-timing-function: ease-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    &__image, &__text, &__title{ background-color: #979797cc }
    &__image{ width: 100%; height: 100% }
    &__div{ display: flex; flex-direction: column; gap: .5em; justify-content: flex-end; }
    &__text{ width: 80%; height: 1em; }
    &__title{ width: 100%; height: 1.8em; }
}   

@keyframes preload{
    0%{ opacity: 1; }
    25%{ opacity: .05 }
    50%{ opacity: 1 }
    75%{ opacity: .05 }
    100%{ opacity: 1 }
}

/* -------------------- @MEDIA -------------------------- */
@media screen and (max-width:850px) {
    .ArticleCard{
        &__title{ max-height: 100%; font-size: 1.6em; }
        &__title--long{ font-size: 1.3em; }
    }
}

@media screen and (max-width:500px) {
    
}

//------------------------------------------------
//---------------- MESSAGE CARD ------------------
//------------------------------------------------
.Message{
    background-color: rgb(67, 114, 66);
    max-width: 25em;
    padding: 1em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    transform: translateX(30em);
    transition: transform ease-in .3s;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
    
    & > svg{ width: 70px; }
    &--active{ transform: translateX(0); }
    &--error{
        background-color: rgb(104, 39, 39);
    }
}


.Loading{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $background-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7em;

    // display: none;
    &--active{ display: flex; }

    &__circle{
        width: 2em;
        height: 2em;
        background-color: #FAEDBC;
        border-radius: 50%;
        animation: circleAnimation;
        animation-duration: .9s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        opacity: .7;
    }
    &__circle:nth-child(2){ animation-delay: .11s }
    &__circle:nth-child(3){ animation-delay: .23s }
}

@keyframes circleAnimation{
    50%{ transform: translateY(-2em); }
    100%{ transform: translateY(0); }
}